Q1

In [1]:
num = [1, 7, -10, 34, 2, -8]

In [2]:
total_sum = sum(num)

In [3]:
print("Sum all the items =", total_sum)

Sum all the items = 26

Q2

In [4]:
from functools import reduce

In [5]:
numbers = [3, 4, 5, 4, 7]

In [6]:
def multiply_list(items):
    return reduce(lambda x, y: x * y, items)

In [7]:
result = multiply_list(numbers)
print("Multiply all the items in a list:", result)

Multiply all the items in a list: 1680

Q3

In [8]:
numbers = [1, 7, 10, 34, 2, 8]

In [9]:
largest_number = max(numbers)
print("Largest Number:", largest_number)

Largest Number: 34

Q4

In [10]:
numbers = [5, 1, 7, 10, 34, 2, 8]

In [11]:
smallest_number = min(numbers)
print("Smallest Number:", smallest_number)

Smallest Number: 1

Q5

In [12]:
strings = ['abc', 'xyz', 'aba', '1221']

In [13]:
def count_matching_strings(strings):
    count = 0
    for s in strings:
        if len(s) >= 2 and s[0] == s[-1]:
            count += 1
    return count

In [14]:
result = count_matching_strings(strings)
print("First and Last Character are same:", result)

First and Last Character are same: 2

Q6

In [15]:
numbers = [1, 2, 3, 7, 2, 1, 5, 6, 4, 8, 5, 4]

In [16]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for number in lst:
        if number not in seen:
            seen.add(number)
            result.append(number)
    return result

In [17]:
unique_numbers = remove_duplicates(numbers)
print(unique_numbers)

[1, 2, 3, 7, 5, 6, 4, 8]

Q7

In [18]:
numbers = [34, 45, 6, 5, 4, 56, 7]

In [19]:
def is_list_empty(lst):
    return "List is Empty" if not lst else "List is Not Empty"

In [20]:
result = is_list_empty(numbers)
print(result)

List is Not Empty

Q8

In [21]:
original_list = [10, 22, 44, 23, 4]

In [22]:
cloned_list = original_list[:]

In [23]:
print("Original List:", original_list)
print("Clone or Copy a List:", cloned_list)

Original List: [10, 22, 44, 23, 4]
Clone or Copy a List: [10, 22, 44, 23, 4]

Q9

In [24]:
words = ["Find", "the", "List", "of", "Words", "that", "are", "Longer", "than", "n", "from", "a", "given", "List", "of", "Words"]

In [25]:
n = 4

In [26]:
longer_words = [word for word in words if len(word) > n]

In [27]:
print("Find the List of Words that are Longer than n from a given List of Words")
print("Given value of n =", n)
print(longer_words)

Find the List of Words that are Longer than n from a given List of Words
Given value of n = 4
['Words', 'Longer', 'given', 'Words']

Q10

In [28]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

In [29]:
def have_common_member(l1, l2):
    return "Lists have at least one common member" if set(l1) & set(l2) else "Lists have no common members"

In [30]:
result = have_common_member(list1, list2)
print(result)

Lists have at least one common member

Q11

In [31]:
animals = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

In [32]:
indices_to_remove = {0, 4, 5}

In [33]:
filtered_animals = [animal for index, animal in enumerate(animals) if index not in indices_to_remove]
print(filtered_animals)

['Dog', 'Elephant', 'Fox', 'Ponda']

Q12

In [34]:
numbers = [7, 32, 81, 20, 25, 14, 23, 27]

In [35]:
filtered_numbers = [num for num in numbers if num % 2 != 0]
print(filtered_numbers)

[7, 81, 25, 23, 27]

Q13

In [36]:
import random

In [37]:
animals = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

In [38]:
random.shuffle(animals)
print(animals)

['Lion', 'Cat', 'Elephant', 'Fox', 'Dog', 'Ponda', 'Tiger']

Q14

In [39]:
squares = [i**2 for i in range(1, 31)]

In [40]:
first_five = squares[:5]
last_five = squares[-5:]

In [41]:
print("First 5 elements:", first_five)
print("Last 5 elements:", last_five)

First 5 elements: [1, 4, 9, 16, 25]
Last 5 elements: [676, 729, 784, 841, 900]

Q15

In [42]:
import itertools

In [43]:
numbers = [1, 2, 3]

In [44]:
permutations = list(itertools.permutations(numbers))
print(permutations)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

Q16

In [45]:
characters = ['T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's']

In [46]:
resulting_string = ''.join(characters)
print(resulting_string)

Tutor Joes

Q17

In [47]:
numbers = [20, 70, 30, 90, 10, 30, 90, 10, 80]

In [48]:
item_to_find = 30

In [49]:
index_number = numbers.index(item_to_find)
print("Index Number of Item =", index_number)

Index Number of Item = 2

Q18

In [50]:
nested_list = [[20, 30, 70], [30, 90, 10], [30, 20], [70, 90, 10, 80]]

In [51]:
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

Q19

In [52]:
first_list = [10, 20, 30, 40]
second_list = ['Cat', 'Dog', 'Lion', 'Ponda']

In [53]:
second_list.extend(first_list)
print(second_list)

['Cat', 'Dog', 'Lion', 'Ponda', 10, 20, 30, 40]

Q20

In [54]:
import random

In [55]:
animals = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

In [56]:
random_item = random.choice(animals)
print("Item randomly from a list:", random_item)

Item randomly from a list: Cat

Q21

In [57]:
list1 = [8, 8, 12, 12, 8]
list2 = [8, 8, 12, 12]
list3 = [1, 8, 8, 12, 12]

In [58]:
def are_circularly_identical(lst1, lst2):
    return ' '.join(map(str, lst2)) in ' '.join(map(str, lst1 * 2))

In [59]:
result1 = are_circularly_identical(list1, list2)
result2 = are_circularly_identical(list1, list3)

In [60]:
print("Compare List1 and List2:", result1)
print("Compare List1 and List3:", result2)

Compare List1 and List2: True
Compare List1 and List3: False

Q22

In [61]:
numbers = [2, 4, 56, 78, 4, 34, 5, 8, 9]

In [62]:
unique_sorted_numbers = sorted(set(numbers))

In [63]:
if len(unique_sorted_numbers) >= 2:
    second_smallest = unique_sorted_numbers[1]
else:
    second_smallest = None

In [64]:
print("Second Smallest Number:", second_smallest)

Second Smallest Number: 4

Q23

In [65]:
numbers = [82, 4, 56, 78, 4, 34, 5, 100, 9]

In [66]:
unique_sorted_numbers = sorted(set(numbers), reverse=True)

In [67]:
if len(unique_sorted_numbers) >= 2:
    second_largest = unique_sorted_numbers[1]
else:
    second_largest = None

In [68]:
print("Second Largest Number:", second_largest)

Second Largest Number: 82

Q24

In [69]:
numbers = [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]

In [70]:
seen = set()
unique_numbers = [x for x in numbers if not (x in seen or seen.add(x))]

In [71]:
print(unique_numbers)

[82, 4, 10, 56, 78, 34, 5, 9]

Q25

In [72]:
from collections import Counter

In [73]:
numbers = [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]

In [74]:
frequency = Counter(numbers)
print("Counter({})".format(dict(frequency)))

Counter({10: 2, 30: 2, 50: 3, 20: 2, 60: 2, 40: 2})

Q26

In [75]:
prefix = 'T'
N = 10

In [76]:
concatenated_list = [f'{prefix}{i}' for i in range(1, N + 1)]
print(concatenated_list)

['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10']

Q27

In [77]:
import uuid

In [78]:
x = 30
s = "Tutor Joes"

In [79]:
unique_identification_number = hash(x)
unique_identification_string = uuid.uuid4().hex

In [80]:
print("Unique Identification Number:", unique_identification_number)
print("Unique Identification String:", unique_identification_string)

Unique Identification Number: 30
Unique Identification String: 8e7a933b2d83485f997f548d7a6619c9

Q28

In [81]:
list1 = [23, 45, 67, 78, 89, 34]
list2 = [34, 89, 55, 56, 39, 67]

In [82]:
common_items = list(set(list1) & set(list2))
print("Common items from two lists:", common_items)

Common items from two lists: [89, 34, 67]

Q29

In [83]:
animals = ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]

In [84]:
sorted_animals = {}

for animal in animals:
    first_letter = animal[0].lower()
    if first_letter not in sorted_animals:
        sorted_animals[first_letter] = []
    sorted_animals[first_letter].append(animal)

In [85]:
for letter in sorted(sorted_animals.keys()):
    print(f"{letter.upper()}")
    for animal in sorted_animals[letter]:
        print(animal)

B
bear
C
cat
cow
D
dog
F
Fox
L
lion
M
mouse
monkey
S
Shark
Snake
T
tiger
turtle

Q30

In [86]:
numbers = [1, 2, 4, 3, 6, 7, 5, 8, 9, 7, 8, 9, 10]

In [87]:
odd_numbers = [num for num in numbers if num % 2 != 0]
print(odd_numbers)

[1, 3, 7, 5, 9, 7, 9]

Q31

In [88]:
numbers = [10, 20, 30, 50, 80, 70, 70, 80, 10]

In [89]:
unique_items_count = len(set(numbers))
print("No of Unique Items in List:", unique_items_count)

No of Unique Items in List: 6

Q32

In [90]:
from functools import reduce
from operator import mul

In [91]:
numbers = [2, 1, 2, 4, 6, 4, 3, 2, 1]
unique_numbers = set(numbers)

In [92]:
product = reduce(mul, unique_numbers)
print("Duplication removal list product:", product)

Duplication removal list product: 144

Q33

In [93]:
from collections import Counter

In [94]:
numbers = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K = 2

In [95]:
frequency = Counter(numbers)

In [96]:
filtered_elements = [x for x in numbers if frequency[x] > K]
print(filtered_elements)

[4, 4, 3, 3, 4, 3]

Q34

In [97]:
elements = [4, 5, 6, 7, 3, 9]
range_start = 3
range_end = 9

In [98]:
required_elements = set(range(range_start, range_end + 1))
does_contain = required_elements.issubset(set(elements))

In [99]:
print(f"Does list contain all elements in range: {does_contain}")

Does list contain all elements in range: False

Q35

In [100]:
numbers = [18, 18, 18, 6, 3, 4, 9, 9, 9]

In [101]:
def find_three_consecutive(nums):
    consecutive_set = set()
    for i in range(len(nums) - 2):
        if nums[i] == nums[i + 1] == nums[i + 2]:
            consecutive_set.add(nums[i])
    return consecutive_set

In [102]:
consecutive_common_numbers = find_three_consecutive(numbers)
print("Three Consecutive common numbers =", ', '.join(map(str, consecutive_common_numbers)))

Three Consecutive common numbers = 9, 18

Q36

In [103]:
numbers = [10, 20, 30, 20, 30, 400]

In [104]:
def strongest_neighbours(nums):
    result = []
    for i in range(len(nums) - 1):
        result.append(max(nums[i], nums[i + 1]))
    return result

In [105]:
strongest = strongest_neighbours(numbers)
print(' '.join(map(str, strongest)))

20 30 30 30 400

Q37

In [106]:
import itertools

In [107]:
digits = [1, 2, 3]

permutations = itertools.permutations(digits)

for perm in permutations:
    print(' '.join(map(str, perm)))

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

Q38

In [108]:
import itertools

In [109]:
groups = [['Tutor Joes'], ['Software', 'Computer'], ['Solution', 'Education']]

In [110]:
def find_combinations(groups):
    all_combinations = []
    for combination in itertools.product(*groups):
        all_combinations.append(list(combination))
    return all_combinations

In [111]:
combinations = find_combinations(groups)
for combo in combinations:
    print(combo)

['Tutor Joes', 'Software', 'Solution']
['Tutor Joes', 'Software', 'Education']
['Tutor Joes', 'Computer', 'Solution']
['Tutor Joes', 'Computer', 'Education']

Q39

In [112]:
import itertools

In [113]:
list1 = ['A', 'B', 'C']
list2 = [1, 2, 3]

In [114]:
combinations = list(itertools.product(list1, list2))
print(combinations)

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3), ('C', 1), ('C', 2), ('C', 3)]

Q40

In [115]:
numbers = [1, 3, 4, 6, 5, 1]
element_to_remove = 1

In [116]:
filtered_numbers = [num for num in numbers if num != element_to_remove]
print(filtered_numbers)

[3, 4, 6, 5]

Q41

In [117]:
def remove_consecutive_duplicates(records):
    result = [records[0]]

    for current in records[1:]:
        if current != result[-1]:
            result.append(current)
    return result

In [118]:
records = [('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'H'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F')]

In [119]:
cleaned_records = remove_consecutive_duplicates(records)
print(cleaned_records)

[('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'H'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F')]

Q42

In [120]:
def replace_with_indices(source_list, index_list):
    return [source_list[i] for i in index_list]

In [121]:
source_list = ['Tutor Joes', 'Computer', 'Education']
index_list = [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]

In [122]:
replaced_list = replace_with_indices(source_list, index_list)
print(replaced_list)

['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

Q43

In [123]:
def retain_records_with_occurrences(records, k, n):
    return [record for record in records if record.count(k) == n]

In [124]:
records = [(4, 5, 6, 5, 4), (4, 5, 3, 5), (5, 5, 2), (3, 4, 9)]

K = 5
N = 2

In [125]:
filtered_records = retain_records_with_occurrences(records, K, N)
print(filtered_records)

[(4, 5, 6, 5, 4), (4, 5, 3, 5), (5, 5, 2)]

Q44

In [126]:
string_list = ['Tutor', 'joes', 'Computer', 'Education']

In [127]:
string_list[1] = "Joe's"
string_list[3] = 'Solutions'

In [128]:
print(string_list)

['Tutor', "Joe's", 'Computer', 'Solutions']

Q45

In [129]:
original_list = ['Tutor', 'joes', 'Computer', 'Education']

In [130]:
reversed_strings = [s[::-1] for s in original_list]
reversed_list = reversed_strings[::-1]

In [131]:
print("Original list =", original_list)
print("Reversed list =", reversed_list)

Original list = ['Tutor', 'joes', 'Computer', 'Education']
Reversed list = ['noitacudE', 'retupmoC', 'seoj', 'rotuT']

Q46

In [132]:
def find_word_at_kth_position(words, k):
    cumulative_length = 0
    for index, word in enumerate(words):
        cumulative_length += len(word)
        if cumulative_length >= k:
            return index + 1

In [133]:
words = ['Tutor', 'joes', 'Computer', 'Education']

In [134]:
K = 20
word_index = find_word_at_kth_position(words, K)

In [135]:
print("Index of character at Kth position word:", word_index)

Index of character at Kth position word: 4

Q47

In [136]:
def count_strings_with_prefix(strings, prefix):
    count = sum(1 for s in strings if s.startswith(prefix))
    return count

In [137]:
strings = ['TjC', 'TjCpp', 'TjPython', 'Java']
prefix = 'Tj'

matching_count = count_strings_with_prefix(strings, prefix)

In [138]:
print("Strings count with matching frequency:", matching_count)

Strings count with matching frequency: 3

Q48

In [139]:
def split_on_prefix(strings, prefix):
    with_prefix = [s for s in strings if s.startswith(prefix)]
    without_prefix = [s for s in strings if not s.startswith(prefix)]
    return [with_prefix, without_prefix]

In [140]:
strings = ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
prefix = 'Tj'

In [141]:
split_lists = split_on_prefix(strings, prefix)
print(split_lists)

[['TjC', 'TjCpp', 'TjPython'], ['Java', 'tj']]

Q49

In [142]:
def replace_except_given(chars, given_char, replace_with):
    return [replace_with if char != given_char else char for char in chars]

In [143]:
characters = ['P', 'Y', 'T', 'H', 'O', 'N']
given_character = 'O'
replacement_character = '@'

In [144]:
modify = replace_except_given(characters, given_character, replacement_character)
print(modify)

['@', '@', '@', '@', 'O', '@']

Q50

In [145]:
import re

In [146]:
def add_space_between_words(words):
    spaced_words = [re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', word) for word in words]
    return spaced_words

In [147]:
words = ['TutorJoes', 'ComputerEducations']

In [148]:
spaced_list = add_space_between_words(words)
print(spaced_list)

['Tutor Joes', 'Computer Educations']