# Task 1

Q1

In [1]:
def calculate_gross_salary(basic_salary):
    dearness_allowance = 0.4 * basic_salary 
    house_rent_allowance = 0.2 * basic_salary
    gross_salary = basic_salary + dearness_allowance + house_rent_allowance
    return gross_salary

In [2]:
basic_salary = float(input("Enter Ramesh's basic salary: "))

Enter Ramesh's basic salary: 25000

In [3]:
gross_salary = calculate_gross_salary(basic_salary)

In [4]:
print(f"Ramesh's gross salary is: {gross_salary}")

Ramesh's gross salary is: 40000.0

Q2

In [5]:
def convert_distances(kilometers):
    meters_per_km = 1000
    feet_per_meter = 3.28084
    inches_per_foot = 12
    cm_per_meter = 100

    meters = kilometers * meters_per_km
    feet = meters * feet_per_meter
    inches = feet * inches_per_foot
    centimeters = meters * cm_per_meter
    
    return meters, feet, inches, centimeters

In [6]:
distance_km = float(input("Enter the distance between two cities in kilometers: "))

Enter the distance between two cities in kilometers: 23

In [7]:
meters, feet, inches, centimeters = convert_distances(distance_km)

In [8]:
print(f"Distance in meters: {meters} m")
print(f"Distance in feet: {feet} ft")
print(f"Distance in inches: {inches} in")
print(f"Distance in centimeters: {centimeters} cm")

Distance in meters: 23000.0 m
Distance in feet: 75459.31999999999 ft
Distance in inches: 905511.8399999999 in
Distance in centimeters: 2300000.0 cm

Q3

In [9]:
def calculate_results(marks):
    aggregate_marks = sum(marks)
    percentage_marks = aggregate_marks / 5  
    return aggregate_marks, percentage_marks

In [10]:
marks = []
for i in range(1, 6):
    mark = float(input(f"Enter marks for subject {i}: "))
    marks.append(mark)

Enter marks for subject 1: 52
Enter marks for subject 2: 63
Enter marks for subject 3: 87
Enter marks for subject 4: 71
Enter marks for subject 5: 56

In [11]:
aggregate_marks, percentage_marks = calculate_results(marks)

In [12]:
print(f"Aggregate marks: {aggregate_marks}")
print(f"Percentage marks: {percentage_marks:.2f}%")

Aggregate marks: 329.0
Percentage marks: 65.80%

Q4

In [13]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

In [14]:
fahrenheit = float(input("Enter the temperature in Fahrenheit: "))
celsius = fahrenheit_to_celsius(fahrenheit)

Enter the temperature in Fahrenheit: 36

In [15]:
print(f"The temperature in Celsius is: {celsius:.2f} degrees")

The temperature in Celsius is: 2.22 degrees

Q5

In [16]:
import math

In [17]:
def calculate_rectangle_area(length, breadth):
    return length * breadth

def calculate_rectangle_perimeter(length, breadth):
    return 2 * (length + breadth)

def calculate_circle_area(radius):
    return math.pi * radius ** 2

def calculate_circle_circumference(radius):
    return 2 * math.pi * radius

In [18]:
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))
radius = float(input("Enter the radius of the circle: "))

Enter the length of the rectangle: 15
Enter the breadth of the rectangle: 13
Enter the radius of the circle: 14

In [19]:
rectangle_area = calculate_rectangle_area(length, breadth)
rectangle_perimeter = calculate_rectangle_perimeter(length, breadth)

circle_area = calculate_circle_area(radius)
circle_circumference = calculate_circle_circumference(radius)

In [20]:
print(f"Rectangle area: {rectangle_area} square units")
print(f"Rectangle perimeter: {rectangle_perimeter} units")
print(f"Circle area: {circle_area:.2f} square units")
print(f"Circle circumference: {circle_circumference:.2f} units")

Rectangle area: 195.0 square units
Rectangle perimeter: 56.0 units
Circle area: 615.75 square units
Circle circumference: 87.96 units

Q6

In [21]:
C = float(input("Enter the value for C: "))
D = float(input("Enter the value for D: "))

Enter the value for C: 3
Enter the value for D: 6

In [22]:
C, D = D, C

In [23]:
print(f"The value of C is: {C}")
print(f"The value of D is: {D}")

The value of C is: 6.0
The value of D is: 3.0

Q7

In [24]:
def sum_of_digits(number):
    sum_digits = 0
    while number > 0:
        sum_digits += number % 10 
        number //= 10
    return sum_digits

In [25]:
number = int(input("Enter a five-digit number: "))

Enter a five-digit number: 65515

In [26]:
result = sum_of_digits(number)
print(f"The sum of the digits is: {result}")

The sum of the digits is: 22

Q8

In [27]:
def reverse_number(number):
    reversed_number = 0
    while number > 0:
        digit = number % 10
        reversed_number = reversed_number * 10 + digit
        number //= 10
    return reversed_number

In [28]:
number = int(input("Enter a five-digit number: "))
result = reverse_number(number)

Enter a five-digit number: 36156

In [29]:
print(f"The reversed number is: {result}")

The reversed number is: 65163

Q9

In [30]:
def sum_first_last(number):
    last_digit = number % 10 
    first_digit = number // 1000
    return first_digit + last_digit

In [31]:
number = int(input("Enter a four-digit number: "))
result = sum_first_last(number)

Enter a four-digit number: 5115

In [32]:
print(f"The sum of the first and last digit is: {result}")

The sum of the first and last digit is: 10

Q10

In [33]:
def calculate_illiterates(total_population, percent_men, percent_literacy, percent_literate_men):
    number_of_men = total_population * (percent_men / 100)
    number_of_women = total_population - number_of_men

    literate_men = total_population * (percent_literate_men / 100)

    total_literate = total_population * (percent_literacy / 100)

    literate_women = total_literate - literate_men

    illiterate_men = number_of_men - literate_men
    illiterate_women = number_of_women - literate_women
    
    return illiterate_men, illiterate_women

In [34]:
total_population = 80000
percent_men = 52
percent_literacy = 48
percent_literate_men = 35

In [35]:
illiterate_men, illiterate_women = calculate_illiterates(total_population, percent_men, percent_literacy, percent_literate_men)

In [36]:
print(f"Total number of illiterate men: {int(illiterate_men)}")
print(f"Total number of illiterate women: {int(illiterate_women)}")

Total number of illiterate men: 13600
Total number of illiterate women: 28000

Q11

In [37]:
def calculate_notes(amount):
    notes_100 = amount // 100
    amount %= 100

    notes_50 = amount // 50
    amount %= 50

    notes_10 = amount // 10

    return notes_100, notes_50, notes_10

In [38]:
amount = int(input("Enter the amount to be withdrawn (in hundreds): "))
notes_100, notes_50, notes_10 = calculate_notes(amount)

Enter the amount to be withdrawn (in hundreds): 20000

In [39]:
print(f"₹100 notes: {notes_100}")
print(f"₹50 notes: {notes_50}")
print(f"₹10 notes: {notes_10}")

₹100 notes: 200
₹50 notes: 0
₹10 notes: 0

Q12

In [40]:
def calculate_cost_price(total_selling_price, total_profit, number_of_items):
    total_cost_price = total_selling_price - total_profit
    cost_price_per_item = total_cost_price / number_of_items
    return cost_price_per_item

In [41]:
total_selling_price = float(input("Enter the total selling price of 15 items: "))
total_profit = float(input("Enter the total profit earned on these items: "))

Enter the total selling price of 15 items: 1236
Enter the total profit earned on these items: 12

In [42]:
cost_item = calculate_cost_price(total_selling_price, total_profit, 15)

In [43]:
print(f"The cost price of one item is:{cost_item:.2f}")

The cost price of one item is:81.60

Q13

In [44]:
def increment_digits(number):
    new_number = ""
    while number > 0:
        digit = number % 10
        incremented_digit = (digit + 1) % 10
        new_number = str(incremented_digit) + new_number
        number //= 10
    return new_number

In [45]:
number = int(input("Enter a five-digit number: "))
new_number = increment_digits(number)

Enter a five-digit number: 56225

In [46]:
print(f"The new number is: {new_number}")

The new number is: 67336

# Task 2

Q1

In [47]:
def calculate_total_expenses(quantity, price_per_item):
    total_cost = quantity * price_per_item
    if quantity > 10:
        total_cost *= 0.9
    return total_cost

In [48]:
quantity = int(input("Enter the quantity of items: "))
price_per_item = float(input("Enter the price per item: "))

Enter the quantity of items: 12
Enter the price per item: 55

In [49]:
total_expenses = calculate_total_expenses(quantity, price_per_item)
print(f"The total expenses are: ${total_expenses:.2f}")

The total expenses are: $594.00

Q2

In [50]:
def calculate_bonus(current_year, joining_year):
    years_of_service = current_year - joining_year
    if years_of_service > 3:
        return 2500
    else:
        return 0

In [51]:
current_year = int(input("Enter the current year: "))
joining_year = int(input("Enter the year the employee joined the organization: "))

Enter the current year: 2023
Enter the year the employee joined the organization: 2018

In [52]:
bonus = calculate_bonus(current_year, joining_year)

if bonus > 0:
    print(f"The employee receives a bonus of Rs. {bonus}/-")
else:
    print("No bonus is given.")

The employee receives a bonus of Rs. 2500/-

Q3

In [53]:
def calculate_gross_salary(basic_salary):
    if basic_salary < 1500:
        HRA = 0.1 * basic_salary
        DA = 0.9 * basic_salary
    else:
        HRA = 500
        DA = 0.98 * basic_salary 
    gross_salary = basic_salary + HRA + DA
    return gross_salary

In [54]:
basic_salary = float(input("Enter the employee's basic salary: "))
gross_salary = calculate_gross_salary(basic_salary)

Enter the employee's basic salary: 35000

In [55]:
print(f"The employee's gross salary is: {gross_salary:.2f}")

The employee's gross salary is: 69800.00

Q4

In [56]:
def calculate_division(marks):
    total_marks = sum(marks)
    percentage = (total_marks / (100 * len(marks))) * 100

    if percentage >= 60:
        return 'First division'
    elif percentage >= 50:
        return 'Second division'
    elif percentage >= 40:
        return 'Third division'
    else:
        return 'Fail'

In [57]:
marks = []
for i in range(1, 6):
    mark = float(input(f"Enter marks for subject {i}: "))
    marks.append(mark)

Enter marks for subject 1: 87
Enter marks for subject 2: 91
Enter marks for subject 3: 78
Enter marks for subject 4: 64
Enter marks for subject 5: 83

In [58]:
division = calculate_division(marks)
print(f"The student is: {division}")

The student is: First division

Q5

In [59]:
def is_eligible_for_insurance(marital_status, gender, age):
    if marital_status.lower() == 'married':
        return True
    elif marital_status.lower() == 'unmarried':
        if gender.lower() == 'male' and age > 30:
            return True
        elif gender.lower() == 'female' and age > 25:
            return True
    return False

In [60]:
marital_status = input("Enter the marital status (married/unmarried): ")
gender = input("Enter the gender (male/female): ")
age = int(input("Enter the age: "))

Enter the marital status (married/unmarried): unmarried
Enter the gender (male/female): female
Enter the age: 59

In [61]:
eligible = is_eligible_for_insurance(marital_status, gender, age)

if eligible:
    print("The driver is eligible for insurance.")
else:
    print("The driver is not eligible for insurance.")

The driver is eligible for insurance.

Q6

In [62]:
def calculate_salary(gender, years_of_service, qualification):
    if gender.lower() == 'male':
        if years_of_service >= 10:
            if qualification.lower() == 'post-graduate':
                return 15000
            elif qualification.lower() == 'graduate':
                return 10000
        elif years_of_service < 10:
            if qualification.lower() == 'post-graduate':
                return 10000
            elif qualification.lower() == 'graduate':
                return 7000
    elif gender.lower() == 'female':
        if years_of_service >= 10:
            if qualification.lower() == 'post-graduate':
                return 12000
            elif qualification.lower() == 'graduate':
                return 9000
        elif years_of_service < 10:
            if qualification.lower() == 'post-graduate':
                return 10000
            elif qualification.lower() == 'graduate':
                return 6000
    return 0

In [63]:
gender = input("Enter the gender (Male/Female): ")
years_of_service = int(input("Enter the years of service: "))
qualification = input("Enter the qualification (Graduate/Post-Graduate): ")

Enter the gender (Male/Female): Female
Enter the years of service: 5
Enter the qualification (Graduate/Post-Graduate): Graduate

In [64]:
salary = calculate_salary(gender, years_of_service, qualification)
print(f"The salary is: ${salary}")

The salary is: $6000

Q7

In [65]:
def calculate_profit_or_loss(cost_price, selling_price):
    if selling_price > cost_price:
        profit = selling_price - cost_price
        return f"Profit of ${profit}"
    elif selling_price < cost_price:
        loss = cost_price - selling_price
        return f"Loss of ${loss}"
    else:
        return "No profit or loss"

In [66]:
cost_price = float(input("Enter the cost price of the item: "))
selling_price = float(input("Enter the selling price of the item: "))

Enter the cost price of the item: 56
Enter the selling price of the item: 53

In [67]:
result = calculate_profit_or_loss(cost_price, selling_price)
print(result)

Loss of $3.0

Q8

In [68]:
def check_odd_even(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [69]:
number = int(input("Enter an integer: "))
result = check_odd_even(number)

print(f"The number is {result}.")

Enter an integer: 15
The number is Odd.

Q9

In [70]:
def reverse_number(number):
    reversed_number = 0
    original_number = number 
    while number > 0:
        last_digit = number % 10
        reversed_number = reversed_number * 10 + last_digit
        number //= 10
    return reversed_number, original_number

In [71]:
number = int(input("Enter a five-digit number: "))

reversed_number, original_number = reverse_number(number)

Enter a five-digit number: 15514

In [72]:
if reversed_number == original_number:
    print(f"The number {original_number} is equal to its reverse {reversed_number}.")
else:
    print(f"The number {original_number} is not equal to its reverse {reversed_number}.")

The number 15514 is not equal to its reverse 41551.

Q10

In [73]:
def find_youngest(ram_age, shyam_age, ajay_age):
    if ram_age < shyam_age and ram_age < ajay_age:
        return "Ram is the youngest."
    elif shyam_age < ajay_age:
        return "Shyam is the youngest."
    else:
        return "Ajay is the youngest."

In [74]:
ram_age = int(input("Enter Ram's age: "))
shyam_age = int(input("Enter Shyam's age: "))
ajay_age = int(input("Enter Ajay's age: "))

Enter Ram's age: 14
Enter Shyam's age: 15
Enter Ajay's age: 16

In [75]:
youngest = find_youngest(ram_age, shyam_age, ajay_age)
print(youngest)

Ram is the youngest.

Q11

In [76]:
def is_valid_triangle(angle1, angle2, angle3):
    if angle1 + angle2 + angle3 == 180:
        return "The angles form a valid triangle."
    else:
        return "The angles do not form a valid triangle."

In [77]:
angle1 = float(input("Enter the first angle of the triangle: "))
angle2 = float(input("Enter the second angle of the triangle: "))
angle3 = float(input("Enter the third angle of the triangle: "))

Enter the first angle of the triangle: 3
Enter the second angle of the triangle: 2
Enter the third angle of the triangle: 1

In [78]:
result = is_valid_triangle(angle1, angle2, angle3)
print(result)

The angles do not form a valid triangle.

Q12

In [79]:
def find_absolute_value(number):
    return abs(number)

In [80]:
number = float(input("Enter a number: "))
absolute_value = find_absolute_value(number)

print(f"The absolute value of the number is: {absolute_value}")

Enter a number: 25
The absolute value of the number is: 25.0

Q13

In [81]:
def rectangle_comparison(length, breadth):
    area = length * breadth
    perimeter = 2 * (length + breadth)
    
    if area > perimeter:
        return f"The area of the rectangle ({area}) is greater than its perimeter ({perimeter})."
    else:
        return f"The area of the rectangle ({area}) is not greater than its perimeter ({perimeter})."

In [82]:
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))

Enter the length of the rectangle: 32
Enter the breadth of the rectangle: 34

In [83]:
result = rectangle_comparison(length, breadth)
print(result)

The area of the rectangle (1088.0) is greater than its perimeter (132.0).

Q14

In [84]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

In [85]:
year = int(input("Enter a year: "))

if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2028
2028 is a leap year.

Q15

In [86]:
def determine_steel_grade(hardness, carbon_content, tensile_strength):
    condition1 = hardness > 50
    condition2 = carbon_content < 0.7
    condition3 = tensile_strength > 5600
    
    if condition1 and condition2 and condition3:
        return 10
    elif condition1 and condition2:
        return 9
    elif condition2 and condition3:
        return 8
    elif condition1 and condition3:
        return 7
    elif condition1 or condition2 or condition3:
        return 6
    else:
        return 5

In [87]:
hardness = float(input("Enter the hardness of the steel: "))
carbon_content = float(input("Enter the carbon content of the steel (as a fraction): "))
tensile_strength = float(input("Enter the tensile strength of the steel: "))

Enter the hardness of the steel: 56
Enter the carbon content of the steel (as a fraction): 53
Enter the tensile strength of the steel: 51

In [88]:
grade = determine_steel_grade(hardness, carbon_content, tensile_strength)
print(f"The grade of the steel is: {grade}")

The grade of the steel is: 6

Q16

In [89]:
def calculate_fine(days_late):
    if days_late > 30:
        return "Your membership will be cancelled."
    elif days_late > 10:
        return f"The fine is Rs. 5 for being {days_late} days late."
    elif days_late > 5:
        return f"The fine is Rs. 1 for being {days_late} days late."
    elif days_late > 0:
        return f"The fine is 50 paise for being {days_late} days late."
    else:
        return "No fine, you returned the book on time."

In [90]:
days_late = int(input("Enter the number of days late to return the book: "))

Enter the number of days late to return the book: 12

In [91]:
message = calculate_fine(days_late)
print(message)

The fine is Rs. 5 for being 12 days late.

Q17

In [92]:
def evaluate_efficiency(time_taken):
    if time_taken >= 2 and time_taken <= 3:
        return "Highly efficient."
    elif time_taken > 3 and time_taken <= 4:
        return "Ordered to improve speed."
    elif time_taken > 4 and time_taken <= 5:
        return "Given training to improve speed."
    elif time_taken > 5:
        return "Has to leave the company."
    else:
        return "Invalid time input."

In [93]:
time_taken = float(input("Enter the time taken by the worker to complete the job (in hours): "))

efficiency = evaluate_efficiency(time_taken)
print(efficiency)

Enter the time taken by the worker to complete the job (in hours): 13
Has to leave the company.