Q1

In [1]:
my_tuple = ()
print("Tuple =", my_tuple)

Tuple = ()

Q2

In [2]:
mixed_tuple = ('Tutor Joes', True, 'T', 3.21, 10)
print(mixed_tuple)

('Tutor Joes', True, 'T', 3.21, 10)

Q3

In [3]:
numbers = (5, 10, 15)

print(numbers[1]) 
print("Type =", type(numbers).__name__)

10
Type = tuple

Q4

In [4]:
number_tuple = (4, 8, 3)

a, b, c = number_tuple

In [5]:
print("a =", a, b, c)
print((a, b, c))

a = 4 8 3
(4, 8, 3)

Q5

In [6]:
og_tuple = (10, 40, 50, 70, 90)
item = 20

new_tuple = og_tuple + (item,)

In [7]:
print("Original tuple:", og_tuple)
print("New tuple after adding item:", new_tuple)

Original tuple: (10, 40, 50, 70, 90)
New tuple after adding item: (10, 40, 50, 70, 90, 20)

Q6

In [8]:
char_tuple = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
result_string = ''.join(char_tuple)

In [9]:
print("String:", result_string)

String: Tutor Joes

Q7

In [10]:
my_tuple = ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

In [11]:
fourth_element = my_tuple[3]
fourth_from_last = my_tuple[-4]

In [12]:
print("4th Element From Tuple:", fourth_element)
print("4th Element From Last Tuple:", fourth_from_last)

4th Element From Tuple: e
4th Element From Last Tuple: u

Q8

In [13]:
original_tuple = ("Tutor", "J", 23, 56.67, [23, 12], True)

In [14]:
copied_tuple = original_tuple[:]

In [15]:
print("Original Tuple:", original_tuple)
print("Copy =", copied_tuple)

Original Tuple: ('Tutor', 'J', 23, 56.67, [23, 12], True)
Copy = ('Tutor', 'J', 23, 56.67, [23, 12], True)

Q9

In [16]:
numbers_tuple = (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)

In [17]:
item = 2
repeated_count = numbers_tuple.count(item)

In [18]:
print("Item =", item)
print("Repeated items of a tuple =", repeated_count)

Item = 2
Repeated items of a tuple = 3

Q10

In [19]:
elements_tuple = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's', 8)

In [20]:
element_8_present = 8 in elements_tuple
element_x_present = 'x' in elements_tuple

In [21]:
print("8 in Tuple =", element_8_present)
print("'x' in Tuple =", element_x_present)

8 in Tuple = True
'x' in Tuple = False

Q11

In [22]:
my_list = [12, 45, 87, 54, 89, 4]

In [23]:
my_tuple = tuple(my_list)

In [24]:
print("List:", my_list)
print("Tuple:", my_tuple)

List: [12, 45, 87, 54, 89, 4]
Tuple: (12, 45, 87, 54, 89, 4)

Q12

In [25]:
original_tuple = (23, 45, 56, 68, 10, 45, 7, 9)
item_to_remove = 56

In [26]:
temp_list = list(original_tuple)
temp_list.remove(item_to_remove)
new_tuple = tuple(temp_list)

In [27]:
print("Original Tuple:", original_tuple)
print("New Tuple after removing", item_to_remove, ":", new_tuple)

Original Tuple: (23, 45, 56, 68, 10, 45, 7, 9)
New Tuple after removing 56 : (23, 45, 68, 10, 45, 7, 9)

Q13

In [28]:
my_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
sliced_tuple = my_tuple[3:8]

In [29]:
print("Original Tuple:", my_tuple)
print("Sliced Tuple:", sliced_tuple)

Original Tuple: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
Sliced Tuple: (40, 50, 60, 70, 80)

Q14

In [30]:
my_tuple = (23, 45, 67, 78, 89, 90, 34, 56)
item = 78

index_of_item = my_tuple.index(item)

In [31]:
print("Item =", item)
print("Index Number:", index_of_item)

Item = 78
Index Number: 3

Q15

In [32]:
animal_tuple = ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")
length_of_tuple = len(animal_tuple)

In [33]:
print("Tuple:", animal_tuple)
print("Length:", length_of_tuple)

Tuple: ('Lion', 'Cat', 'Dog', 'Panda', 'Tiger', 'Fox')
Length: 6

Q16

In [34]:
my_tuples = (("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422))

In [35]:
res_dictionary = dict(my_tuples)

print("Dictionary:", res_dictionary)

Dictionary: {'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

Q17

In [36]:
list_tuples = [(10, 30), (60, 90), (20, 50)]
unzipped_lists = zip(*list_tuples)
individual_lists = [list(t) for t in unzipped_lists]

print("Individual Lists:", individual_lists)

Individual Lists: [[10, 60, 20], [30, 90, 50]]

Q18

In [37]:
original_tuple = (23, 45, 67, 78, 89, 90, 34, 56)
reversed_tuple = original_tuple[::-1]

In [38]:
print("Before Reverse:", original_tuple)
print("After Reverse:", reversed_tuple)

Before Reverse: (23, 45, 67, 78, 89, 90, 34, 56)
After Reverse: (56, 34, 90, 89, 78, 67, 45, 23)

Q19

In [39]:
list_of_tuples = [("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", "Female")]
resulting_dictionary = {}

In [40]:
for key, value in list_of_tuples:
    if key in resulting_dictionary:
        resulting_dictionary[key].append(value)
    else:
        resulting_dictionary[key] = [value]

In [41]:
print("Dictionary:", resulting_dictionary)

Dictionary: {'Name': ['Ram', 'Pooja'], 'Age': [21, 23], 'Gender': ['Male', 'Female']}

Q20

In [42]:
fruits_tuple = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")
print("Fruits {}".format(fruits_tuple))

Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

Q21

In [43]:
single_item_tuple = (23,)

In [44]:
print("Create a tuple with Item =", single_item_tuple[0])
print("Type =", type(single_item_tuple).__name__)

Create a tuple with Item = 23
Type = tuple

Q22

In [45]:
numbers_tuple = (11, 22, 333, 44, 55)
a, b, c, d, e = numbers_tuple

In [46]:
print(a)
print(b)
print(c)
print(d)
print(e)

11
22
333
44
55

Q23

In [47]:
tuple_A = (10,)
tuple_B = (20,)

In [48]:
print("Before Swap A:", tuple_A[0])
print("Before Swap B:", tuple_B[0])

Before Swap A: 10
Before Swap B: 20

In [49]:
tuple_A, tuple_B = tuple_B, tuple_A

In [50]:
print("After Swap A:", tuple_A[0])
print("After Swap B:", tuple_B[0])

After Swap A: 20
After Swap B: 10

Q24

In [51]:
original_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
new_tuple = original_tuple[2:8]

In [52]:
print("Original Tuple:", original_tuple)
print("New Tuple:", new_tuple)

Original Tuple: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
New Tuple: (30, 40, 50, 60, 70, 80)

Q25

In [53]:
original_tuple = (10, 20, 30, 40, 50)

list_version = list(original_tuple)
list_version[2] = 33
modified_tuple = tuple(list_version)

In [54]:
print("Original Tuple:", original_tuple)
print("Modified Tuple:", modified_tuple)

Original Tuple: (10, 20, 30, 40, 50)
Modified Tuple: (10, 20, 33, 40, 50)

Q26

In [55]:
tuple_of_tuples = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
sorted_tuple = tuple(sorted(tuple_of_tuples, key=lambda x: x[1]))

In [56]:
print("Original Tuple:", tuple_of_tuples)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
Sorted Tuple: (('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

Q27

In [57]:
numbers_tuple = (30, 50, 10, 30, 70, 50, 30)
count_30 = numbers_tuple.count(30)

In [58]:
print("Tuple:", numbers_tuple)
print("Number of Counts 30:", count_30)

Tuple: (30, 50, 10, 30, 70, 50, 30)
Number of Counts 30: 3

Q28

In [59]:
A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)

sum_of_elements = tuple(map(sum, zip(A, B, C, D)))

In [60]:
print("A =", A)
print("B =", B)
print("C =", C)
print("D =", D)
print("Sum of Elements =", sum_of_elements)

A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)
Sum of Elements = (12, 21, 18)

Q29

In [61]:
tuples_list = [('Ram', 89.20), ('Siva', 76.45), ('Pooja', 84.40), ('Tara', 68.43), ('Jeeva', 91.40)]
sorted_tuples = sorted(tuples_list, key=lambda x: x[1])

In [62]:
print("Original List:", tuples_list)
print("Sorted List:", sorted_tuples)

Original List: [('Ram', 89.2), ('Siva', 76.45), ('Pooja', 84.4), ('Tara', 68.43), ('Jeeva', 91.4)]
Sorted List: [('Tara', 68.43), ('Siva', 76.45), ('Pooja', 84.4), ('Ram', 89.2), ('Jeeva', 91.4)]

Q30

In [63]:
tuples_list = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
replace_value = 10
modified_tuples = [tuple(list(t[:-1]) + [replace_value]) for t in tuples_list]

In [64]:
print("Original List of Tuples:", tuples_list)
print("Modified List of Tuples:", modified_tuples)

Original List of Tuples: [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
Modified List of Tuples: [(5, 2, 10), (4, 7, 10), (8, 9, 10)]

Q31

In [65]:
list_of_tuples = [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]

In [66]:
K = 2

def has_k_digits(t, k):
    return all(len(str(abs(num))) == k for num in t)

In [67]:
extracted_tuples = [t for t in list_of_tuples if has_k_digits(t, K)]

print("Original List of Tuples:", list_of_tuples)
print("Extracted Tuples with", K, "digit elements:", extracted_tuples)

Original List of Tuples: [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]
Extracted Tuples with 2 digit elements: [(47, 23), (22, 53)]

Q32

In [68]:
list_of_tuples = [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]

seen = set()
symmetric_tuples = set()

In [69]:
for tup in list_of_tuples:
    reverse_tup = tuple(reversed(tup))
    if reverse_tup in seen:
        symmetric_tuples.add(tup)
        symmetric_tuples.add(reverse_tup)
    seen.add(tup)

In [70]:
print("Original List of Tuples:", list_of_tuples)
print("Symmetric Tuples:", symmetric_tuples)

Original List of Tuples: [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
Symmetric Tuples: {(2, 9), (23, 18), (9, 2), (18, 23)}

Q33

In [71]:
list_of_tuples = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
sorted_tuples = sorted(list_of_tuples, key=max)

In [72]:
print("Original List of Tuples:", list_of_tuples)
print("Sorted List of Tuples:", sorted_tuples)

Original List of Tuples: [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
Sorted List of Tuples: [(1, 2), (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3)]

Q34

In [73]:
original_tuple = (10, 20, (30,), 40, (50, 60), 70)
filtered_tuple = tuple(x for x in original_tuple if not isinstance(x, tuple))

In [74]:
print("Original Tuple:", original_tuple)
print("Removal of Nested Tuple:", filtered_tuple)

Original Tuple: (10, 20, (30,), 40, (50, 60), 70)
Removal of Nested Tuple: (10, 20, 40, 70)

Q35

In [75]:
nested_tuple = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)

In [76]:
def flatten_tuple(t):
    for item in t:
        if isinstance(item, tuple):
            yield from flatten_tuple(item)
        else:
            yield item

In [77]:
flat_list = list(flatten_tuple(nested_tuple))

In [78]:
frequency = {}
for item in flat_list:
    if item in frequency:
        frequency[item] += 1
    else:
        frequency[item] = 1

In [79]:
print("Original Tuple:", nested_tuple)
print("Elements Frequency:", frequency)

Original Tuple: (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
Elements Frequency: {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

Q36

In [80]:
nested_tuples = ((1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,))

In [81]:
def flatten(iterable):
    for element in iterable:
        if isinstance(element, tuple):
            yield from flatten(element)
        else:
            yield element

In [82]:
unique_elements = set(flatten(nested_tuples))

In [83]:
print("Original Nested Tuples:", nested_tuples)
print("Unique Element in Nested Tuples:", sorted(unique_elements))

Original Nested Tuples: ((1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,))
Unique Element in Nested Tuples: [1, 2, 3, 4, 5, 6, 7, 9, 10]

Q37

In [84]:
tuple1 = (18, 23, 2, 9)
tuple2 = (10, 3, 11)

concatenated_tuple = (tuple1, tuple2)

In [85]:
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Tuples after Concatenating:", concatenated_tuple)

Tuple 1: (18, 23, 2, 9)
Tuple 2: (10, 3, 11)
Tuples after Concatenating: ((18, 23, 2, 9), (10, 3, 11))

Q38

In [86]:
tuples_list = [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]

In [87]:
frequency = {}
for _, second in tuples_list:
    if second in frequency:
        frequency[second] += 1
    else:
        frequency[second] = 1

In [88]:
sorted_tuples = sorted(tuples_list, key=lambda x: frequency[x[1]])

print("Original List of tuples:", tuples_list)
print("Sorted List of tuples:", sorted_tuples)

Original List of tuples: [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]
Sorted List of tuples: [(9, 8), (2, 5), (6, 5), (2, 7), (3, 7), (8, 7)]

Q39

In [89]:
lists_in_tuple = ([10, 50, 60], [80, 20, 30], [70, 100, 40], [90,])
sorted_lists_in_tuple = tuple(sorted(lst) for lst in lists_in_tuple)

print("Original Tuple:", lists_in_tuple)
print("Tuple after sorting list:", sorted_lists_in_tuple)

Original Tuple: ([10, 50, 60], [80, 20, 30], [70, 100, 40], [90])
Tuple after sorting list: ([10, 50, 60], [20, 30, 80], [40, 70, 100], [90])

Q40

In [90]:
tuples_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
order_list = ['A', 'B', 'C', 'D']

In [91]:
ordered_tuples_list = sorted(tuples_list, key=lambda x: order_list.index(x[0]))

print("Original Tuple List:", tuples_list)
print("Ordered Tuple List:", ordered_tuples_list)

Original Tuple List: [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
Ordered Tuple List: [('A', 67), ('B', 68), ('C', 69), ('D', 70)]

Q41

In [92]:
tuples_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]

In [93]:
kth_elements_to_filter = [67, 70, 71, 75]
kth_element_index = 1

In [94]:
filtered_tuples = [tup for tup in tuples_list if tup[kth_element_index] in kth_elements_to_filter]

print("Original Tuple List:", tuples_list)
print("Filtered tuples:", filtered_tuples)

Original Tuple List: [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
Filtered tuples: [('D', 70), ('A', 67)]

Q42

In [95]:
tuples_list = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]

given_tuple = (20, 2)
kth_element_index = 1

In [96]:
nearest_tuple = min(tuples_list, key=lambda x: abs(x[kth_element_index] - given_tuple[kth_element_index]))

print("Given Tuple:", given_tuple)
print("Kth Element Index:", kth_element_index)
print("Nearest Tuple:", nearest_tuple)

Given Tuple: (20, 2)
Kth Element Index: 1
Nearest Tuple: (9, 2)

Q43

In [97]:
list_1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
list_2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

set_1 = {frozenset(t) for t in list_1}
set_2 = {frozenset(t) for t in list_2}

In [98]:
intersection = set_1.intersection(set_2)
result = {tuple(s) for s in intersection}

In [99]:
print("List 1:", list_1)
print("List 2:", list_2)
print("Intersection: ", result)

List 1: [(3, 4), (5, 6), (9, 10), (4, 5)]
List 2: [(5, 4), (3, 4), (6, 5), (9, 11)]
Intersection:  {(4, 5), (5, 6), (3, 4)}

Q44

In [100]:
list_1 = [('A', 65), ('D', 68), ('B', 66)]
list_2 = [('D', 68), ('C', 67), ('A', 65)]

set_1 = set(list_1)
set_2 = set(list_2)

In [101]:
intersection = set_1.intersection(set_2)
intersection_list = list(intersection)

print("list 1:", list_1)
print("list 2:", list_2)
print("Intersection of data records:", intersection_list)

list 1: [('A', 65), ('D', 68), ('B', 66)]
list 2: [('D', 68), ('C', 67), ('A', 65)]
Intersection of data records: [('D', 68), ('A', 65)]

Q45

In [102]:
tuples_list = [(3, 4), (1, 2), (4, 3), (5, 6)]

frozensets_list = [frozenset(t) for t in tuples_list]

In [103]:
frequency_dict = {}
for fs in frozensets_list:
    if fs in frequency_dict:
        frequency_dict[fs] += 1
    else:
        frequency_dict[fs] = 1

In [104]:
unique_tuples = [tuple(fs) for fs in frequency_dict]

print("Original List of Tuples:", tuples_list)
print("Unique Tuples Frequency:", unique_tuples)
print("Unique Tuples Frequency Count:", len(unique_tuples))

Original List of Tuples: [(3, 4), (1, 2), (4, 3), (5, 6)]
Unique Tuples Frequency: [(3, 4), (1, 2), (5, 6)]
Unique Tuples Frequency Count: 3

Q46

In [105]:
skew_nested_tuple = (1, (2, (3, (4, (5, None)))))

In [106]:
def sum_first_elements(nested_tuple):
    current_tuple = nested_tuple
    total_sum = 0
    while isinstance(current_tuple, tuple):
        total_sum += current_tuple[0]
        current_tuple = current_tuple[1]
    return total_sum

In [107]:
first_position_sum = sum_first_elements(skew_nested_tuple)

print("Summation of 1st positions:", first_position_sum)

Summation of 1st positions: 15

Q47

In [108]:
binary_tuple = (1, 0, 1, 0)

In [109]:
binary_string = ''.join(str(bit) for bit in binary_tuple)
decimal_number = int(binary_string, 2)

print("Binary tuple:", binary_tuple)
print("Decimal number is:", decimal_number)

Binary tuple: (1, 0, 1, 0)
Decimal number is: 10

Q48

In [110]:
tuple_1 = (10, 4, 6, 9)
tuple_2 = (5, 2, 3, 3)

xor_tuple = tuple(a ^ b for a, b in zip(tuple_1, tuple_2))

In [111]:
print("Tuple 1:", tuple_1)
print("Tuple 2:", tuple_2)
print("XOR tuple:", xor_tuple)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
XOR tuple: (15, 6, 5, 10)

Q49

In [112]:
tuple_1 = (10, 4, 6, 9)
tuple_2 = (5, 2, 3, 3)

and_tuple = tuple(a & b for a, b in zip(tuple_1, tuple_2))

In [113]:
print("Tuple 1:", tuple_1)
print("Tuple 2:", tuple_2)
print("AND operation Between Tuple:", and_tuple)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
AND operation Between Tuple: (0, 0, 2, 1)

Q50

In [114]:
tuple_1 = (10, 4, 6, 9)
tuple_2 = (5, 2, 3, 3)

elementwise_and_tuple = tuple(a & b for a, b in zip(tuple_1, tuple_2))

In [115]:
print("Tuple 1:", tuple_1)
print("Tuple 2:", tuple_2)
print("Elementwise AND Tuple:", elementwise_and_tuple)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
Elementwise AND Tuple: (0, 0, 2, 1)